body{
  font-family: 'Quicksand', sans-serif;
}

.logo img {
  height: 400px;
  margin: auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
}

.container{
  padding-top: 40px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.verticalLine {
  border-left: dotted grey;
}

.rostercontain{
  padding-left: 30px;
}

.espn{
  height: 15px;
}

.hidemov {
  display: block;
  height: 600px;
overflow: hidden;
box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 20px rgba(0, 0, 0, 0.19);
}
